<% include header.ejs %>

<!-- left sidebar -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper"><a href="#" class="left-sidebar-toggle">Orders</a>
      <div class="left-sidebar-spacer">
        <div class="left-sidebar-scroll">
          <div class="left-sidebar-content">
            <ul class="sidebar-elements">
              <li class="divider">Menu</li>
                <li ><a href="/"><i class="icon mdi mdi-home"></i><span>Dash Board</span></a>
                </li>
                <li><a href="/orders"><i class="icon mdi mdi-collection-plus"></i><span>Orders</span></a>
                </li>
                 <li><a href="/history"><i class="icon mdi mdi-time-restore"></i><span>History</span></a>
                 </li>
                <li><a href="/inventory"><i class="icon mdi mdi-local-grocery-store"></i><span>Inventory</span></a>
                 </li>
                 <li class="parent"><a href=""><i class="icon mdi mdi-accounts-add"></i><span>Add Members</span></a>
                   <ul class="sub-menu"> 
                     <li><a href="/addRetailer">Add Retailer</a>
                     </li>
                     <li><a href='/addDistributor'>Add Distrbutor</a>
                     </li>
                     <li><a href="/addSalesPerson"">Add Sales Person</a>
                     </li>
                   </ul>  
                 </li>
                 <li class="parent"><a href=""><i class="icon mdi mdi-chart"></i><span>Charts</span></a>
                  <ul class="sub-menu"> 
                    <li><a href="/sales_dashboard">Monthly-sales</a>
                    </li>
                    <li><a href="/area_dashboard">Area-sales</a>
                    </li>
                    <li class="active"><a href='pharmacy_dashboard'>pharmacies</a>
                    </li>
                    <li><a href="delivery_dashboard">deliveries</a>
                    </li>
                  </ul>  
                </li>
            </ul>
          </div>
        </div>
      </div>
   </div>   
</div>

<div class="be-content">
  <div class="main-content container-fluid">
    <!-- -----------row ---------------- -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="title">Monthly Wise sales</div>
              </div>
              <div class="panel-body">
                <div class="col-md-12">
                    <div id="dual_x_div"></div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
      <!-- --------------heatmap and geomap----------------- -->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="title">Pharmacy vs Medicines</div>
          </div>
          <div class="panel-body">
            <div class="col-md-6" style="overflow: scroll; height: 50vh;">
                <canvas id="heatmap" style="height: 500px; max-width: 800px"></canvas>
            </div>
            <div class="col-md-6">
                <div id="geochart-colors"></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>      
  </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="assets/js/Chart.HeatMap.S.min.js"></script>
<script>
  google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
            ['State',   'sales'],
            ['Uttar Pradesh', 19581477],
            ['Maharashtra', 11272972],
            ['Bihar', 103804637],
            ['West Bengal', 91347736],
            ['Madhya Pradesh', 72597565],
            ['Tamil Nadu', 72138958],
            ['Rajasthan', 68621012],
            ['Karnataka', 61130704],
            ['Gujarat', 60383628],
            ['Andhra Pradesh', 49386799],
            ['Odisha', 41947358],
            ['Telangana', 35286757],
            ['Kerala', 33387677],
            ['Jharkhand', 32966238],
            ['Assam', 31169272],
            ['Punjab', 27704236],
            ['Chhattisgarh', 25540196],
            ['Haryana', 25353081],
            ['Jammu and Kashmir', 12548926],
            ['Uttarakhand', 10116752],
            ['Himachal Pradesh', 6856509],
            ['Tripura', 3671032],
            ['Meghalaya', 2964007],
            ['Manipur', 2721756],
            ['Nagaland', 1980602],
            ['Goa', 1457723],
            ['Arunachal Pradesh', 1382611],
            ['Mizoram', 1091014],
            ['Sikkim', 607688],
            ['Delhi', 16753235],
            ['Puducherry', 1244464],
            ['Chandigarh', 1054686],
            ['Andaman and Nicobar Islands', 379944],
            ['Dadra and Nagar Haveli', 342853],
            ['Daman and Diu', 242911],
            ['Lakshadweep', 64429]
        ]);

        var options = {
          region: 'IN', // Africa
          colorAxis: {colors: ['#00853f', 'black', '#e31b23']},
          backgroundColor: '#81d4fa',
          datalessRegionColor: '#bfb5b8',
          defaultColor: '#f5f5f5',
          resolution: 'provinces'
        };

        var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
        chart.draw(data, options);
      };

    //--------------Horizantal bar chart---------------------------
    google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Pharmacy', 'Paid Amount', 'Balance Amount', 'Orders'],
          ['Manoj medicals', 8000, 4000, 23],
          ['devi pharmcaies', 24000, 5000, 15],
          ['Pavan medicals', 30000, 9000, 14],
          ['sai sri surgicals', 60000, 15000, 13]
        ]);

        var options = {
          width: 800,
          height: 500,    
          chart: {
            title: 'Pharmacies',
            subtitle: 'Sales and orders'
          },
          bars: 'horizontal', // Required for Material Bar Charts.
          isStacked: true,    
          series: {
            0: { axis: 'amount' }, // Bind series 0 to an axis named 'amount'.
            1: { axis: 'amount' },
            2: { axis: 'orders' } // Bind series 1 to an axis named 'orders'.
          },
          axes: {
            x: {
              amount: {label: 'Rupees'}, // Bottom x-axis.
              orders: {side: 'top', label: 'number of orders'} // Top x-axis.
            }
          },
         animation: {
          startup: true,
          duration: 1000,
          easing: 'out'
      },
      colors:['#0a0a7c','#1d9d0c','#123fa3','#e3690f']
         
        };

      var chart = new google.charts.Bar(document.getElementById('dual_x_div'));
      chart.draw(data, google.charts.Bar.convertOptions(options));
    }; 
//-- -----------------heat map-----------------------------------
var heatData = {
              labels: ['crocin','paracetmol','Cleargel','dermadew shampoo','dermadew soap','diclogel','HHCAL TROL','HHFUDIC CREAM 10GM','	HHGLIM M1 TAB','	HHGLIM M2 TAB','HHLEVO M TAB','HHLINCTUS LS SUP'],
              datasets: [
                {
                  label: 'Nox pharmacy',
                  data: [8000, 6000, 5000, 7000, 9000, 8000, 1000, 6000, 3000, 3000, 8000, 7000]
                },
                {
                  label: 'Manoj medicals',
                  data: [6000, 8000, 5000, 6000, 5000, 5000, 7000, 1000, 1000, 3000, 1000, 7000]
                },
                {
                  label: 'Devi medicals',
                  data: [8000, 5000, 6000, 4000, 2000, 2000, 3000, 1000, 2000, 800, 910, 788]
                },
                {
                  label: 'Pavan medicals',
                  data: [4520, 6550, 7525, 4525, 6156, 8423, 7212, 4524, 5122, 6210, 2328, 5122]
                },
                {
                  label: 'Sai sri surgicals',
                  data: [1551, 5120, 5100, 8557, 4520, 5142, 3211, 2563, 1324, 1515, 5121, 3210]
                }
              ]
            };
        var heatOptions = {
            // String - background color for graph
            backgroundColor: '#fff',
            // Boolean - whether to draw the heat map boxes with rounded corners
            rounded: true,

            // Number - the radius (as a percentage of size) of the rounded corners
            roundedRadius: 0.1,

            // Number - padding between heat map boxes (as a percentage of box size)
            paddingScale: 0.05,

            // String - "gradient", "palette"
            colorInterpolation: "gradient",

            // Array[String] - the colors used for the active color scheme.
            // Any number of colors is allowed.
            colors: [  "green","yellow", 'red'],

            // Boolean - whether boxes change color on hover.
            colorHighlight: true, 

            // Number - a floating point value which specifies how much lighter or
            // darker a color becomes when hovered, where 1 is no change, 
            // 0.9 is slightly darker, and 1.1 is slightly lighter.
            colorHighlightMultiplier: 0.85,

            // Boolean - Whether to draw labels on the boxes
            showLabels: true, 

            // Number - the font size of the label as percentage of box height
            labelScale: 0.2,

        }
        var ctx = document.getElementById('heatmap').getContext('2d');
        var newChart = new Chart(ctx).HeatMap(heatData, heatOptions);


</script>
<script src="assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          //initialize the javascript
          App.init();
          
        });
  
    </script>
    </body>
  </html>      
