

/*rgb(237, 27, 36) -- red*/
/*rgb(6, 151, 156) --bluish green*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open sans' , sans-serif
}
body{
    font-size: 10px;
}
header{
    position: relative;
    width: 100%;
    height:50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../images/unsplash.jpg");
    background-position: center;
    background-size: cover;
}
header div{
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,50%);
    width:40rem;
}

header h1{
    color: rgb(237, 27, 36);
    text-transform: capitalize;
    font-size: 3rem;
    text-align: center;
}

header p{
    color: white;
    font-size:1.3rem;
    text-align: center;
}

/*section*/
#join{
    text-align: center;
    color: rgb(6, 151, 156);
    padding: 3rem 0 0 0;
}
section{
    background-color: rgba(217, 211, 211, 0.2)
}

.row{
    padding: 3rem;
}
.form{
    width: 70%;
    margin: 0 auto;
}

.form-group {
    padding: 0.2rem;
}

input.btn{
    display: inline-block;
    margin: 1rem auto;
    width: 7rem;
    height: 3rem;
    background-color: dodgerblue;
    color: white;
    transition: all 0.2s;
}

input.btn:hover{
    transform: translateY(-4px);
    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);
}

input.btn:active{
    transform: translateY(1px);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}
@media screen and (max-width:720px){
    header{
        width: 100%;
        height:60vh;
    }
    header div{
        width:30rem;
        top:10%;
    }
     header h1{
        font-size: 1.8rem;
    }

    header p{
        color: white;
        font-size:1rem;
    }   
    
    #join{
        padding: 1.2rem 0 0 0;
        font-size: 1.5rem;
    }
    .row{
        padding: 0.5rem;
    }
    .form{
        width: 80%;
        margin: 0 auto;
        font-size: 0.7rem;
    }

    .form-group {
        padding: 0rem;
    }
    input.btn{
        font-size: 1.2rem;
        width: 6rem;
        height: 3rem ;
    }
}
@media screen and (max-width : 481px){
    
    header{
        width: 100%;
        height:40vh;
    }
    header div{
        width:20rem;
    }
     header h1{
        font-size: 1.6rem;
    }

    header p{
        color: white;
        font-size:0.9rem;
    }   
    
    #join{
        padding: 1rem 0 0 0;
        font-size: 1.4rem;
    }
    .row{
        padding: 0.5rem;
    }
    .form{
        width: 80%;
        margin: 0 auto;
        font-size: 0.7rem;
    }

    .form-group {
        padding: 0rem;
    }
    input.btn{
        font-size: 1rem;
        width: 5rem;
        height: 2.5rem ;
    }
}